<cam>
	<!-- General configuration -->
	<generateMsgs>true</generateMsgs>
	<expirationTime>1</expirationTime> <!-- in seconds ! -->
	<maxGpsAge>10</maxGpsAge> <!-- in seconds ! -->
	<maxObd2Age>10</maxObd2Age> <!-- in seconds ! -->
	<thresholdRadiusForHeading>0.30</thresholdRadiusForHeading> <!-- in metres ! -->
	
	<!-- Basic Container in CAM -->
	<isRSU>0</isRSU> <!-- 0 for Vehicle, 1 for RSU -->
	
</cam>
